.notifications-container {
    width: 75%;
    margin: 20px auto;

    .notifications-header-card .mat-card-header {
        margin-bottom: -12px;
        .mat-icon {
            position: relative;
            top: 5px;
        }
    }

    .notifications-notification-card {
        margin-top: 10px;

        .mat-card-title {
            height: 22px;
            
            .mat-icon-button {
                position: relative;
                top: -4px;
            }
        }

        .mat-card-content {
            margin: 0 16px;
            
            .mat-card-subtitle {
                text-align: justify;
            }
        }
    }
}