.mat-sidenav-container {
  height: 92%;
}
.mat-expansion-panel {
  margin: 0;
  border-radius: 0;
}
.mat-accordion .mat-expansion-panel:first-of-type {
  border-radius: 0;
}
.mat-accordion .mat-expansion-panel:last-of-type {
  border-radius: 0;
}
.mat-expansion-panel > .mat-expansion-panel {
  box-shadow: 0;
}