<div class="notifications">
  <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
    <mat-icon>notifications_none</mat-icon>
    <span *ngIf="unreadNotifications.length > 0" class="badge">{{unreadNotifications.length}}</span>
  </button>
  <mat-menu class="notifications-panel-container" #notificationsMenu="matMenu">
    <section class="mat-typography">
      <h2 class="notifications-title">Notifications</h2>
    </section>
    <mat-divider></mat-divider>
    <button mat-menu-item *ngFor="let notification of unreadNotifications" (click)="readNotification(notification)">
      <mat-icon>notifications</mat-icon>
      <span>{{notification.title}}</span>
    </button>
    <mat-divider></mat-divider>
    <button class="notifications-view-all" mat-menu-item  [routerLink]="notificationsPage">
      <span>View all notifications</span>
    </button>
  </mat-menu>
</div>