.terminal-container {
    background-color: black;
    color: white;
    height: 250px;
    max-height: 250px;
    overflow-y: scroll;
    ul {
        list-style: none;
        padding: 15px;
        margin: 0px;
        
        li {
            line-height: 25px;
        }
    }
}

.terminal-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.terminal-container::-webkit-scrollbar {
    width: 6px;
    background-color: #3b3b3b;
}

.terminal-container::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
}