.defonfw-container{
    width: 90%;
    margin: 20px auto;

    .devonfwrepos-header-card {
        .mat-card-avatar {
            background-image: url('https://avatars2.githubusercontent.com/u/7803029?s=200&v=4');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .mat-card-subtitle{
            margin-bottom: 0px;
        }
    }

    .devonfwrepos-repo-card {
        margin-top: 10px;

        .mat-card-content {
            margin: 0 16px;
            
            .mat-card-subtitle {
                text-align: justify;
            }

            .repo-item-actions{
                text-align: right;
                button {
                    margin: 0 20px;
                }
            }
        }
    }
}