<form>
  <table>
    <tr class="row">
      <td colspan="3">Create a new server project based on devon template</td>
      <td>
        <button mat-raised-button>
          <mat-icon type="submit">play_arrow</mat-icon>
          Start
        </button>
      </td>
    </tr>

    <tr class="row">
      <td>Workspace Name:</td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Workspace Name" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Workspace Path:</td>
      <td>
        <mat-form-field>
          <input
            [formControl]="serverPath"
            matInput
            placeholder="Server Path"
          />
        </mat-form-field>
      </td>
      <td class="browse-button">
        <a mat-raised-button (click)="searchFolder()">Browse</a>
      </td>
    </tr>

    <tr class="console">
      <td colspan="4" class="console">
        <pre class="console-output">>console-output</pre>
      </td>
    </tr>
  </table>
</form>
